
/* OLD COLORS  */

/*
aquamarine
turquoise
darkturquoise
#222
#888
black
white
*/

/* NEW COLORS  */

/*
aquamarine       #7fffd4 
dark turquoise   #57a7a3
almost white     #eefdf9
mid purp         #8c849b
dark purp        #453f51
darker purp      #231f29
teracotta style  #ef986c
deep red         #cc5140
*/



/* WEBFONT DECLARATIONS */


@font-face {
    font-family: 'OpenSans';
    src: url('/assets/fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('/assets/fonts/OpenSans-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('/assets/fonts/OpenSans-BoldItalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: url('/assets/fonts/OpenSans-Italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}



/* PRIMARY STYLES */

body {
	background-color: black;
	color: #eefdf9;
	margin: 0;
	font-family: "OpenSans", sans-serif;
	font-size: 12pt;
	line-height: 1.1;
  user-select: none;
}

::selection {
    color: black;
    background-color: #7fffd4;
}

p {
  margin: 0;
  padding: 0;
}

hr {
  border: none;
  background-color: #231f29;
  height: 2pt;
  margin: 12pt 0;
}

/*hr::before {
  content: '***';
  display: block;
  text-align: center;
}*/


/* MAIN BUTTON STYLES  */

button {
  -webkit-appearance: none;
	-moz-appearance: none;
  display: inline-block;
  box-sizing: border-box;
  border: none;
	margin: 0;
	padding: 4pt 8pt;
	border-radius: 12pt;
  color: #57a7a3;
	background-color: black;
  border: 2pt solid #57a7a3;
  text-decoration: none;
  font-family: "OpenSans", sans-serif;
	font-size: 12pt;
  line-height: 12pt;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	transition: background 250ms ease-in-out, 
	transform 150ms ease;
}

button:hover/*,
button:focus*/ {
	background-color: #7fffd4;
  color: black;
  border-color: transparent;
}

/*button:focus {
	outline: 1pt solid #fff;
	outline-offset: -3pt;
}*/

button:active {
	transform: scale(0.96);
}

button:disabled {
	background-color: black;
  color: #453f51;
  border-color: #231f29;
	cursor: default;
}

button:disabled:active {
	transform: none;
}

button.trash {
  color: #cc5140;
  border-color: #cc5140;
  background-color: black;
}

button.trash:hover {
  background-color: #ef986c;
  border-color: transparent;
  color: black;
}


/* SELECTION STYLES */

select {
  -webkit-appearance: none;
	-moz-appearance: none;
  display: inline-block;
  box-sizing: border-box;
  border: none;


  text-decoration: none;
  font-family: "OpenSans", sans-serif;
	font-size: 12pt;
  line-height: 12pt;
	font-weight: bold;
	text-align: left;

  cursor: pointer;
  
	/*width: 100%;*/
	padding: 4pt;
	margin: 0;

  border-bottom: 2pt solid #231f29;
	outline: none;
	overflow: auto;
	resize: none;

	border-radius: none;

	background-color: #000;
	color: #7fffd4;
}


input[type=checkbox] {
  -webkit-appearance: none;
	-moz-appearance: none;
  display: inline-block;
  box-sizing: border-box;
  height:12pt;
  width:12pt;
  background-color: black;
  border: 2pt solid #57a7a3;
  border-radius: 6pt;
  transition: box-shadow .3s;
}

input[type=checkbox]:checked {
  box-shadow: inset 0 0 0 12pt #7fffd4;
  border: 0;
}

label {
  margin: 0 4pt;
  padding: 4pt 0;
  color: #8c849b;
  font-weight: bold;
}


/* TEXT INPUT AND CARDS
 MIRROR EACH OTHER */

input[type=text],
textarea,
.card {
	box-sizing: border-box;

	width: 100%;
	padding: 8pt;
	margin: 8pt 0;
	border: none;
  border-bottom: 2pt solid #231f29;
	outline: none;
	overflow: auto;
	resize: none;

	border-radius: none;

	background-color: #000;
	color: #eefdf9;

	font-size: 12pt;
	line-height: 16pt;
	font-family: "OpenSans", sans-serif;

}

input[type=text] {
  padding: 4pt;
  margin: 4pt 0;
}

input::placeholder,
textarea::placeholder {
  color: #8c849b;
}


/* CARD INNER CLASSES */

.card {
  border-bottom: 2pt solid #231f29;
}

.card .pip {
  font-size: 10pt;
  font-weight: bold;
  color: #8c849b;
  user-select: text;
}

.card .title {
  margin: 8pt 0 16pt 0;
  padding: 0;
  font-size:12pt;
  line-height: 16pt;
  font-weight: bold;
  user-select: text;
}

.card .text {
  white-space: pre-wrap;
	overflow-wrap: break-word;
	margin: 0 0 12pt 0;
  user-select: text;
}

.card .timestamp,
.card .related {
	font-size: 10pt;
	color: #8c849b;
	margin: 4pt 0;
  user-select: text;  
}

.card button {
  font-size: 10pt;
  background-color: black;
  color: #57a7a3;
  border: none;
}

.card button:hover {
  background-color: #7fffd4;
  color: black;
  border: none;
}

.card .trash {
  color: #cc5140;
  border: none;
}

.card .trash:hover {
  background-color: #ef986c;
  color: black;
  border: none;
}

/* UI AREAS */

.flexmenu {
	display: flex;
	justify-content: space-between;
}

.centered {
  justify-content: center;
  /*justify-content: space-around;*/
}

.badge {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 42pt;
  max-height: 42pt;
  z-index: -1;
}

/* PRINT STYLES */

@media print {
  .noprint {
    visibility: hidden;
  }
  .card {
    background-color: white;
    color: black;
  }
  hr {
    border-color: black;
  }
}

#cardComp,
#cardEdit,
#deckView {
  display: block;
	max-width: 4in;
	margin: 20pt auto;
  padding: 8pt;
}


#cardEditModal {
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

#newText,
#editText {
	height: 148pt;
}

#newTextLength,
#editTextLength {
	color: #57a7a3;
	font-size: 10pt;
	font-weight: bold;
  /*font-family: monospace;*/
}

#newTitle, 
#editTitle {
  font-weight: bold;
}

#newPip,
#editPip {
  width: 6em;
  margin-left: 8pt;
}


