
/* WEBFONT DECLARATIONS */


@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans-BoldItalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/OpenSans-Italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}



/*{
color: darkturquoise;
color: turquoise;
color: aquamarine;
}*/


/* PRIMARY STYLES */

body {
	background-color: black;
	color: white;
	margin: 0;
	font-family: "OpenSans", sans-serif;
	font-size: 12pt;
	line-height: 1.1;
  user-select: none;
}

::selection {
    color: black;
    background-color: aquamarine;
}

p {
  margin: 0;
  padding: 0;
}

hr {
  border: none;
  background-color: #222;
  height: 2pt;
  margin: 12pt 0;
}

/*hr::before {
  content: '***';
  display: block;
  text-align: center;
}*/


/* MAIN BUTTON STYLES  */

button {
  -webkit-appearance: none;
	-moz-appearance: none;
  display: inline-block;
  box-sizing: border-box;
  border: none;
	margin: 0;
	padding: 4pt 8pt;
	border-radius: 12pt;
  background: turquoise;
	color: black;
  text-decoration: none;
  font-family: "OpenSans", sans-serif;
	font-size: 12pt;
  line-height: 12pt;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	transition: background 250ms ease-in-out, 
	transform 150ms ease;
}

button:hover/*,
button:focus*/ {
	background: aquamarine;
  color: black;
}

/*button:focus {
	outline: 1pt solid #fff;
	outline-offset: -3pt;
}*/

button:active {
	transform: scale(0.96);
}

button:disabled {
	background-color: #222;
  color: #888;
	cursor: default;
}

button:disabled:active {
	transform: none;
}


/* SELECTION STYLES */

select {
  -webkit-appearance: none;
	-moz-appearance: none;
  display: inline-block;
  box-sizing: border-box;
  border: none;


  text-decoration: none;
  font-family: "OpenSans", sans-serif;
	font-size: 12pt;
  line-height: 12pt;
	font-weight: bold;
	text-align: center;

  cursor: pointer;
  
	/*width: 100%;*/
	padding: 4pt;
	margin: 0;

  border-bottom: 2pt solid #222;
	outline: none;
	overflow: auto;
	resize: none;

	border-radius: none;

	background-color: #000;
	color: turquoise;
}


input[type=checkbox] {
  -webkit-appearance: none;
	-moz-appearance: none;
  display: inline-block;
  box-sizing: border-box;
  height:12pt;
  width:12pt;
  background-color: #222;
  border: 2pt solid turquoise;
  border-radius: 6pt;
  transition: box-shadow .3s;
}

input[type=checkbox]:checked {
  box-shadow: inset 0 0 0 12pt aquamarine;
  border: 0;
}

label {
  margin: 0 4pt;
  padding: 4pt 0;
  color: #888;
  font-weight: normal;
}


/* TEXT INPUT AND CARDS
 MIRROR EACH OTHER */

input[type=text],
textarea,
.card {
	box-sizing: border-box;

	width: 100%;
	padding: 8pt;
	margin: 8pt 0;
	border: none;
  border-bottom: 2pt solid #222;
	outline: none;
	overflow: auto;
	resize: none;

	border-radius: none;

	background-color: #000;
	color: #fff;

	font-size: 12pt;
	line-height: 16pt;
	font-family: "OpenSans", sans-serif;

}

input[type=text] {
  padding: 4pt;
  margin: 4pt 0;
}




/* CARD INNER CLASSES */

.card {
  border-bottom: 2pt solid #222;
}

.card .pip {
  font-size: 10pt;
  font-weight: bold;
  color: #888;
  user-select: text;
}

.card .title {
  margin: 8pt 0 16pt 0;
  padding: 0;
  font-size:12pt;
  line-height: 16pt;
  font-weight: bold;
  user-select: text;
}

.card .text {
  white-space: pre-wrap;
	overflow-wrap: break-word;
	margin: 0 0 12pt 0;
  user-select: text;
}

.card .timestamp,
.card .related {
	font-size: 10pt;
	color: #888;
	margin: 4pt 0;
  user-select: text;  
}

.card button {
  font-size: 10pt;
  background-color: black;
  color: darkturquoise;
}

.card button:hover {
  background-color: aquamarine;
  color: black;
}



/* UI AREAS */

.flexmenu {
	display: flex;
	justify-content: space-between;
}

.centered {
  justify-content: center;
  /*justify-content: space-around;*/
}

#cardComp,
#cardEdit,
#deckView {
  display: block;
	max-width: 4in;
	margin: 20pt auto;
  padding: 8pt;
}


#cardEditModal {
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

#newText,
#editText {
	height: 148pt;
}

#newTextLength,
#editTextLength {
	color: turquoise;
	font-size: 10pt;
	font-weight: bold;
  /*font-family: monospace;*/
}

#newTitle, 
#editTitle {
  font-weight: bold;
}

#newPip,
#editPip {
  width: 6em;
  margin-left: 8pt;
}


